[Unit]
Description=FRRouting
Documentation=https://frrouting.readthedocs.io/en/latest/setup.html
Wants=network.target
After=network-pre.target systemd-sysctl.service
Before=network.target
Requires=tnsr-dataplane-netns.service vpp.service
After=tnsr-dataplane-netns.service vpp.service
OnFailure=heartbeat-failed@%n.service

[Service]
SyslogIdentifier=frr-dataplane
Nice=-5
Type=forking
NotifyAccess=all
StartLimitInterval=3m
StartLimitBurst=3
TimeoutSec=2m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
ExecStart=/usr/sbin/ip netns exec dataplane /usr/lib/frr/frrinit.sh start
ExecStop=/usr/sbin/ip netns exec dataplane /usr/lib/frr/frrinit.sh stop
ExecReload=/usr/sbin/ip netns exec dataplane /usr/lib/frr/frrinit.sh reload

[Install]
WantedBy=multi-user.target
